@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  margin: auto;
  width: 95%;
  font-family: "Montserrat", sans-serif;
}

.checkout {
  margin-top: 2rem;
}

h1 {
  margin-top: 2rem;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #4e5150;
  -webkit-transform: rotate(-0.02deg);
          transform: rotate(-0.02deg);
}

.checkout-items {
  background: #f2f2f2;
  border-radius: 12px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  margin-top: 1.3125rem;
  padding: 0.5rem;
}

.checkout-items img {
  width: 43%;
  max-width: 100%;
  height: auto;
  border-radius: 12px;
  margin: 0.5rem;
}

.item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0.5rem;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.price-detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.price-detail h3 {
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  color: #4e5150;
  margin-bottom: 0.5rem;
}

div.pri {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.pri h4 {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #f2994a;
  margin-bottom: 1.55rem;
}

.pri span {
  font-weight: 600;
  font-size: 10px;
  line-height: 12px;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  color: #4e5150;
  margin-left: 0.5rem;
}

.quantity {
  border: 1px solid #828282;
  border-radius: 12px;
  width: 100%;
  padding: 0.5rem;
  border-radius: 0.75rem;
  background: #f2f2f2;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.quantity p {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #333333;
}

.quantity button {
  width: 22px;
  background: #e0e0e0;
  border-radius: 0.25rem;
  border: none;
  padding: 0.2rem 0.4rem;
  margin: 0.2rem 0.05rem;
  font-weight: 600;
  font-size: 16px;
  color: #828282;
  cursor: pointer;
}

.total-detail {
  margin-top: 5rem;
}

.shipping,
.total {
  border-top: 1px solid #bdbdbd;
  padding: 1rem;
  margin: 0 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.checkout-items h2 {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #333333;
}

.checkout-items p {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  text-align: right;
  color: #333333;
}

.input-info {
  width: 100%;
}

.contact,
.address {
  margin-top: 3rem;
}

.contact h2,
.address h2 {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #333333;
}

.address {
  margin-bottom: 10rem;
}

.field {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0.5rem;
  margin-top: 0.5rem;
}

.input-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0.5rem 0;
}

.field label {
  font-weight: 600;
  font-size: 10px;
  line-height: 12px;
  color: #4f4f4f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0.5rem 0 0 0.2rem;
}

.field input:placeholder-shown {
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  color: #828282;
  padding-left: 2rem;
}

input[type="text"] {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #333333;
  padding-left: 2rem;
}

.input-field {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
  padding: 1rem;
  border: 1px solid #828282;
  border-radius: 12px;
}

.field span {
  position: absolute;
  top: 58%;
  left: 10px;
}

span.material-symbols-outlined {
  font-family: "Material Icons";
  font-size: 16px;
  line-height: 1;
  color: #828282;
}

.country-postal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.5rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.country-postal select {
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  color: #828282;
  padding-left: 2rem;
  cursor: pointer;
}

select.country-name {
  font-size: 16px;
  line-height: 20px;
  color: #333333;
  padding-left: 2rem;
}

.select-field {
  width: 171.6px;
  padding: 1rem;
  border: 1px solid #828282;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 12px;
  vertical-align: middle;
  background: transparent;
}

.select-field.material-symbols-outlined {
  font-family: "Material Icons";
  z-index: -1;
  font-size: 16px;
  color: #828282;
  border: none;
  border-radius: 4px;
  background-color: #e0e0e0;
  padding: 0.1rem;
  top: 42.5px;
  left: 9rem;
  width: 21px;
  text-align: center;
}

.check {
  margin: 1rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.5rem;
}

.check input {
  border: 1px solid #828282;
  border-radius: 4px;
}

.check label {
  font-weight: 600;
  font-size: 10px;
  line-height: 12px;
  color: #4f4f4f;
}

.btn {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background: #f2994a;
  border-radius: 12px;
  border: none;
  padding: 1rem 2.8125rem;
  float: right;
}

button:hover {
  cursor: pointer;
}

.message {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px;
  border-radius: 10px;
  z-index: 999;
}

.message .success,
.message .error {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 20px;
  padding-right: 30px;
  position: relative;
  text-align: center;
  width: 300px;
  padding: 3rem;
}

.message .success p,
.message .error p {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 500;
  margin-left: 10px;
}

.message .success .material-icons,
.message .error .material-icons {
  font-size: 24px;
  margin-bottom: 1rem;
}

.message .success .close-btn,
.message .error .close-btn {
  position: absolute;
  top: 5px;
  right: 5px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
}

.message .success .close-btn .material-icons,
.message .error .close-btn .material-icons {
  font-size: 18px;
}

.message .success {
  background-color: #defade;
  color: #0e7c40;
}

.message .success .material-icons {
  color: #0e7c40;
}

.message .error {
  background-color: #fddddd;
  color: #c70000;
}

.message .error .material-icons {
  color: #c70000;
}

footer {
  margin: 5rem 0 1rem;
}

footer p {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #bdbdbd;
}

@media (min-width: 768px) {
  h1 {
    font-size: 36px;
    line-height: 44px;
  }
  .checkout,
  .input-info {
    width: 50%;
  }
  .checkout-items {
    width: 100%;
    height: auto;
  }
  .checkout-items img {
    width: 36%;
    margin: 0.8rem;
  }
  .price-detail {
    width: 50%;
  }
  .price-detail h3 {
    font-size: 16px;
    line-height: 20px;
  }
  .price-detail h4 {
    font-size: 16px;
    line-height: 20px;
  }
  .price-detail span {
    font-size: 12px;
    line-height: 15px;
  }
  .total-detail {
    margin-top: 5rem;
  }
  .shipping,
  .total {
    border-top: 1px solid #bdbdbd;
    padding: 1rem;
    margin: 0 1.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .checkout-items h2 {
    font-size: 18px;
    line-height: 22px;
  }
  .checkout-items p {
    font-size: 14px;
    line-height: 17px;
  }
  .payment-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    gap: 1.5rem;
  }
  .contact h2,
  .address h2 {
    font-size: 18px;
    line-height: 22px;
  }
  .message .success,
  .message .error {
    width: 500px;
    padding: 5rem;
  }
}

@media (min-width: 1440px) {
  body {
    width: 80%;
    margin: auto;
  }
  .payment-info {
    gap: 7rem;
  }
  .checkout-items {
    width: 383px;
  }
  .country-postal {
    gap: 1.5rem;
  }
  .select-field,
  .country-postal input.input-field {
    width: 280px;
  }
  .select-field.material-symbols-outlined {
    left: 250px;
  }
}
/*# sourceMappingURL=style.css.map */